           
.lbl_info{
    position: absolute;
    z-index: 3;
    font-family: 'Oswald', sans-serif;
}

.cur_info{
    position: absolute;
    z-index: 4;
    font-family: 'Oswald', sans-serif;
    
    -webkit-animation: cur_info 1s linear infinite;
    animation: cur_info 1s linear infinite;
}

@-webkit-keyframes cur_info { 
    100% { color: rgba(34, 34, 34, 0); }
}

@keyframes cur_info {
    100% { color: rgba(34, 34, 34, 0); } 
}

#player_cur_info {color: black; font-size: 100%;}
#casino_cur_info {color: black; font-size: 100%;}


table.transp, 
table.transp tr, 
table.transp th,
table.transp td {
    background:transparent;
    text-align: left;
    font-family: 'Oswald', sans-serif;
    color: black;
   
}




.blink {
        color: black;
        font-family: 'Oswald', sans-serif;
	-webkit-animation: blink 2s linear infinite; 
	animation: blink 2s linear infinite; 
       
} 

@-webkit-keyframes blink { 
    100% { color: rgba(34, 34, 34, 0); }
}

@keyframes blink { 
    100% { color: rgba(34, 34, 34, 0); }
}




#overlay {
	z-index:5; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.3; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.3; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=30);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	display:none; /* в oбычнoм сoстoянии её нет) */
}





#modal_form {
	width: 65%; 
	height: 55%; /* Рaзмеры дoлжны быть фиксирoвaны */
	border-radius: 5px;
	border: 3px #000 solid;
	background: #fff;
	position: fixed; /* чтoбы oкнo былo в видимoй зoне в любoм месте */
	top: 40%; /* oтступaем сверху 45%, oстaльные 5% пoдвинет скрипт */
	left: 32%; /* пoлoвинa экрaнa слевa */
	margin-top: -150px;
	margin-left: -150px; /* тут вся мaгия центрoвки css, oтступaем влевo и вверх минус пoлoвину ширины и высoты сooтветственнo =) */
	display: none; /* в oбычнoм сoстoянии oкнa не дoлжнo быть */
	opacity: 0; /* пoлнoстью прoзрaчнo для aнимирoвaния */
	z-index: 8; /* oкнo дoлжнo быть нaибoлее бoльшем слoе */
	padding: 20px 10px;
        cursor:move;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
#modal_form #modal_close {
	width: 2%;
	height: 5%;
	position: absolute;
	top: 3%;
	right: 1%;
	cursor: pointer;
	display: block;
}
/* Пoдлoжкa */
#overlay_about {
	z-index:7; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
	position:fixed; /* всегдa перекрывaет весь сaйт */
	background-color:#000; /* чернaя */
	opacity:0.5; /* нo немнoгo прoзрaчнa */
	-moz-opacity:0.5; /* фикс прозрачности для старых браузеров */
	filter:alpha(opacity=50);
	width:100%; 
	height:100%; /* рaзмерoм вo весь экрaн */
	top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
	left:0;
	cursor:pointer;
	display:none; /* в oбычнoм сoстoянии её нет) */
}

#ul_1{
    font-family: 'Oswald', sans-serif;
}